---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-map-file-entry
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: "{{ ecs_map_fs_storage_class }}"
